body {
  margin: 0;
  padding: 0;
  font: bold 12px/20px arial, sans-serif;
  background: rgb(196, 188, 188);
}

.logo{
  width: 100px;
   margin: 0 50px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 24px;
  padding:0 40px 0 0;
  color: #fff;
  font-weight: bold;
  text-align: center;
  background: rgb(82, 79, 79);
}

.app {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.left-column {
  flex-basis: 20%;
  padding: 20px;
  background-color: lightgray;
  height: 85vh;
}

.right-column {
  flex-basis: 80%;
  padding: 20px;
}

h2 {
  font-size: 18px;
  font-weight: bold;
}

.user-list {
  width: 100%;
  max-width: 300px;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 5px;
}

.user-list h2 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 18px;
}

.user-list ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.user-list li {
  margin-bottom: 10px;
}

.user-list li a {
  color: #000;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.user-list li a:hover {
  color: #007bff;
}

.album-list {
  margin: 0 auto;
  height: 85vh;
  overflow-y: auto;
}

.album-list::-webkit-scrollbar,
.photo-list::-webkit-scrollbar {
  width: 10px;
}

.album-list::-webkit-scrollbar-track,
.photo-list::-webkit-scrollbar-track {
  background: rgb(202, 199, 196);
}

.album-list::-webkit-scrollbar-thumb,
.photo-list::-webkit-scrollbar-thumb {
  background-color: rgb(239, 239, 248);
  border-radius: 20px;
  border: 3px solid rgb(64, 63, 63);
}

.album-list-title {
  font-size: 24px;
  font-weight: bold;
}

.album-list-scroll {
  overflow-y: auto;
}

.album-list-items {
  display: grid;
  width: 99%;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  list-style: none;
  padding: 0;
  margin-top: 16px;
}

.album-list-item {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 16px;
  background-color: #f9f9f9;
}

.album-list-link {
  color: #333;
  text-decoration: none;
  transition: color 0.3s ease;
}

.album-list-link:hover {
  color: #007bff;
}


.photo-list {
  padding: 20px;
  height: 80vh;
  overflow-y: auto;
}

.photo-list-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 18px;
}

.photo-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.photo {
  position: relative;
}

.photo-image {
  width: 100%;
  height: auto;
  max-height: 200px;
  object-fit: cover;
}

.photo-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  font-size: 14px;
  text-align: center;
}

.back-button {
  margin-top: 20px;
  padding: 10px 15px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.back-button:hover {
  background-color: #0056b3;
}